:root, [data-bs-theme=light] {
  --bs-primary: #223240;
  --bs-primary-rgb: 34,50,64;
  --bs-primary-text-emphasis: #0E141A;
  --bs-primary-bg-subtle: #D3D6D9;
  --bs-primary-border-subtle: #A7ADB3;
  --bs-light: #3B8C66;
  --bs-light-rgb: 59,140,102;
  --bs-light-text-emphasis: #183829;
  --bs-light-bg-subtle: #D8E8E0;
  --bs-light-border-subtle: #B1D1C2;
  --bs-body-bg: #60BF81;
  --bs-body-bg-rgb: 96,191,129;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #223240;
  --bs-btn-border-color: #223240;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1D2B36;
  --bs-btn-hover-border-color: #1B2833;
  --bs-btn-focus-shadow-rgb: 222,224,226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1B2833;
  --bs-btn-active-border-color: #1A2630;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #223240;
  --bs-btn-disabled-border-color: #223240;
}

.btn-outline-primary {
  --bs-btn-color: #223240;
  --bs-btn-border-color: #223240;
  --bs-btn-focus-shadow-rgb: 34,50,64;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #223240;
  --bs-btn-hover-border-color: #223240;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #223240;
  --bs-btn-active-border-color: #223240;
  --bs-btn-disabled-color: #223240;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #223240;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #3B8C66;
  --bs-btn-border-color: #3B8C66;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #327757;
  --bs-btn-hover-border-color: #2F7052;
  --bs-btn-focus-shadow-rgb: 9,21,15;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2F7052;
  --bs-btn-active-border-color: #2C694D;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #3B8C66;
  --bs-btn-disabled-border-color: #3B8C66;
}

.btn-outline-light {
  --bs-btn-color: #3B8C66;
  --bs-btn-border-color: #3B8C66;
  --bs-btn-focus-shadow-rgb: 59,140,102;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3B8C66;
  --bs-btn-hover-border-color: #3B8C66;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3B8C66;
  --bs-btn-active-border-color: #3B8C66;
  --bs-btn-disabled-color: #3B8C66;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3B8C66;
}

[data-bs-theme=dark] {
  --bs-body-bg: #93D94E;
  --bs-body-bg-rgb: 147,217,78;
}

.aspect-ratio-16x9 {
  aspect-ratio: 16/9;
}

