.mx-6 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-10 {
  margin-top: 10.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.ms-auto {
  margin-left: auto!important;
}

